<article
  class="product-card"
  tabindex="0"
  [attr.aria-label]="product().name + ', ' + (product().price | currencyFormat)"
  (click)="onActivate()"
  (keydown)="onKeydown($event)"
>
  <div class="product-card__image-wrap">
    <app-product-image [src]="product().imageUrls[0]" [alt]="product().name" />
    @if (product().featured) {
      <span class="product-card__badge">Featured</span>
    }
  </div>

  <div class="product-card__content">
    <span class="product-card__category">{{ product().categoryName }}</span>
    <h3 class="product-card__name">{{ product().name }}</h3>
    <div class="product-card__footer">
      <span class="product-card__price">{{ product().price | currencyFormat }}</span>
      <span class="product-card__action">
        View
        <mat-icon>arrow_forward</mat-icon>
      </span>
    </div>
  </div>
</article>
